/*font family*/
/*gradiant mixin*/
/*animation style*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: 'SharpSansNoOne-Regular'; src: url("../fonts/SharpSansNoOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SharpSansNoOne-Regular.otf") format("opentype"), url("../fonts/SharpSansNoOne-Regular.woff") format("woff"), url("../fonts/SharpSansNoOne-Regular.ttf") format("truetype"), url("../fonts/SharpSansNoOne-Regular.svg#SharpSansNoOne-Regular") format("svg"); font-weight: normal; font-style: normal; }
html, body, ul, ol { margin: 0; padding: 0; }

body { font-family: 'Poppins', sans-serif; font-size: 17px; color: #505050; background-color: #fff; line-height: 1; padding: 0 !important; overflow-y: scroll; overflow-x: hidden; font-weight: normal; }

body.modal-open { overflow: hidden !important; }

.modal-open { overflow-y: scroll !important; }

ol, ul { list-style: none; }

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }

p { font-size: 16px; font-family: 'Poppins', sans-serif; color: #505050; font-weight: normal; line-height: 25px; letter-spacing: 0.020em; }

a { -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }

a:hover, a:focus { text-decoration: none; outline: 0; }

img { max-width: 100%; display: block; height: auto; }

input[type="submit"]:hover, input[type="submit"]:focus, button[type="button"]:hover, button[type="button"]:focus { outline: 0; }

.display_table { width: 100%; height: 100%; display: table; text-align: center; }

.display_cell { display: table-cell; vertical-align: middle; }

.modal-backdrop.in { opacity: .7; }

.section { padding: 58px 0; }
.section h2 { font-size: 36px; text-transform: uppercase; text-align: center; font-family: "SharpSansNoOne-Regular"; }

.popup .modal-dialog { max-width: 600px; width: 90%; margin: 0 auto; position: absolute; top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%) !important; transform: translateY(-50%) !important; }
.popup .modal-dialog .pop_body { background-color: #fff; position: relative; padding: 10px; display: inline-block; width: 100%; border-radius: 10px; padding: 50px 27px 60px; }
@media only screen and (max-width: 1499px) { .popup .modal-dialog .pop_body { padding: 30px 27px; } }
.popup .modal-dialog .pop_body button.close { position: absolute; top: -10px; right: -10px; opacity: 1; background-color: #fc0b04; color: #fff; width: 25px; height: 25px; border-radius: 100%; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; text-shadow: none; }
.popup .modal-dialog .pop_body button.close .fa { display: block; margin-top: -2px; font-size: 16px; }
.popup .modal-dialog .pop_body button.close:hover, .popup .modal-dialog .pop_body button.close:focus { outline: 0; -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.custom-file-upload-hidden { display: none; visibility: hidden; position: absolute; left: -9999px; }

.custom-file-upload { display: block; width: auto; font-size: 16px; }
.custom-file-upload label { display: block; margin-bottom: 0; }

.file-upload-wrapper { position: relative; margin-bottom: 0; padding-top: 50px; }

.file-upload-input { width: 100%; color: #b5b5b5; font-size: 16px; border: none; font-family: 'Phenomena-Bold'; outline: 0; text-align: center; background-color: transparent; white-space: normal; word-break: break-all; resize: none; }

.file-upload-button { cursor: pointer; display: inline-block; color: #fff; font-size: 16px; padding: 11px 20px; /* IE 9 Fix */ -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in; position: absolute; top: 0; right: 0; left: 0; margin: auto; background: url(../images/upload-icon.png) center top no-repeat; border: 0; width: 48px; height: 48px; font-size: 0; }
.file-upload-button:hover { opacity: 0.8; }

/*header sec css*/
header .headerTop { padding: 15px 0; background-color: #fff; }
header .headerTop .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
header .headerTop .container .headerCenter h3 { color: #fd6b0d; font-size: 24px; text-transform: uppercase; font-family: "SharpSansNoOne-Regular"; }
header .headerTop .container .headerCont a { color: #000; display: inline-block; font-size: 20px; }
header .headerTop .container .headerCont a:hover, header .headerTop .container .headerCont a:focus { color: #fd6b0d; }
header .headerTop .container .headerCont a .fa { color: #fd6b0d; }
header .navbar { background-color: #fd6b0d; padding: 0; }
header .navbar .container .navbar-collapse .navbar-nav { width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
header .navbar .container .navbar-collapse .navbar-nav li a { color: #fff; padding: 17px 20px; text-transform: uppercase; }
header .navbar .container .navbar-collapse .navbar-nav li a:hover, header .navbar .container .navbar-collapse .navbar-nav li a:focus { background-color: #a9a8ab; }

/*banner section css*/
.bannerBlock { background-repeat: no-repeat; background-position: center center; background-size: cover; height: 542px; }
.bannerBlock .overlay { background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; }
.bannerBlock .overlay .container { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.bannerBlock .overlay .container .bannerText { padding: 0 75px; -webkit-box-flex: 33%; -ms-flex: 33%; flex: 33%; max-width: 58%; }
.bannerBlock .overlay .container .bannerText h1 { font-size: 70px; color: #fff; font-family: "SharpSansNoOne-Regular"; text-transform: uppercase; margin-bottom: 13px; }
.bannerBlock .overlay .container .bannerText h1:after { content: ''; width: 100%; height: 1px; background-color: #959594; display: block; width: 98%; left: 4px; position: relative; margin-top: 18px; }
.bannerBlock .overlay .container .bannerText p { color: #fd6b0d; font-size: 18px; line-height: 29px; }
.bannerBlock .overlay .container .bannerText .bannerButton { margin-top: 47px; }
.bannerBlock .overlay .container .bannerText .bannerButton a { min-width: 148px; line-height: 2.5; border-radius: 5px; -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4); box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4); display: inline-block; text-align: center; text-transform: uppercase; color: #fff; border: 1px solid #fff; margin-right: 28px; position: relative; overflow: hidden; }
.bannerBlock .overlay .container .bannerText .bannerButton a:before, .bannerBlock .overlay .container .bannerText .bannerButton a:after { content: ''; position: absolute; top: 0; bottom: 0; width: 3px; -webkit-box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8); box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8); background-color: rgba(255, 255, 255, 0.5); -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; -webkit-transform: skew(40deg); transform: skew(40deg); }
.bannerBlock .overlay .container .bannerText .bannerButton a:before { left: -40px; }
.bannerBlock .overlay .container .bannerText .bannerButton a:after { left: -100px; }
.bannerBlock .overlay .container .bannerText .bannerButton a:hover:before, .bannerBlock .overlay .container .bannerText .bannerButton a:hover:after { left: 130%; }
.bannerBlock .overlay .container .bannerText .bannerButton a:hover, .bannerBlock .overlay .container .bannerText .bannerButton a:focus { background-color: #fd6b0d; border-color: #fd6b0d; }
.bannerBlock .overlay .container .bannerText .bannerButton a.contct_btn { margin-right: 0; }
.bannerBlock .overlay .container .bannerForm { padding: 34px; background-color: rgba(255, 255, 255, 0.9); -webkit-box-flex: 33%; -ms-flex: 33%; flex: 33%; max-width: 45%; }
.bannerBlock .overlay .container .bannerForm h3 { font-size: 26px; font-family: "SharpSansNoOne-Regular"; text-transform: uppercase; margin-bottom: 30px; }
.bannerBlock .overlay .container .bannerForm form .form-group { margin-bottom: 7px; }
.bannerBlock .overlay .container .bannerForm form .form-group textarea.form-control, .bannerBlock .overlay .container .bannerForm form .form-group input.form-control { background-color: transparent; border-radius: 0; border: 0; border-bottom: 1px solid #cdbdb5; padding: 0 0 5px; -webkit-box-shadow: none; box-shadow: none; height: 53px; font-size: 16px; }
.bannerBlock .overlay .container .bannerForm form .form-group textarea.form-control:focus, .bannerBlock .overlay .container .bannerForm form .form-group input.form-control:focus { border-color: #fd6b0d; }
.bannerBlock .overlay .container .bannerForm form .form-group textarea.form-control { resize: none; padding-top: 10px; }
.bannerBlock .overlay .container .bannerForm form .formButton { margin-top: 40px; }
.bannerBlock .overlay .container .bannerForm form .formButton .sub_btn { line-height: 2.2; border-radius: 5px; background-color: transparent; display: inline-block; text-align: center; text-transform: uppercase; color: #fd6b0d; border: 1px solid #fd6b0d; margin-right: 28px; padding: 0 33px; cursor: pointer; -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }
.bannerBlock .overlay .container .bannerForm form .formButton .sub_btn:hover, .bannerBlock .overlay .container .bannerForm form .formButton .sub_btn:focus { background-color: #fd6b0d; color: #fff; }

/*blackBlock css*/
.blackBlock { background-color: #000; padding: 25px 0; text-align: center; }
.blackBlock .container p { color: #fff; font-weight: 300; letter-spacing: 0.025em; line-height: 22px; }

/*our service block css*/
.ServiceBlock .container h2 { color: #fd6b0d; margin-bottom: 60px; }
.ServiceBlock .container .serviceElement .servEleList { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 30px; }
.ServiceBlock .container .serviceElement .servEleList:last-child { margin-bottom: 0; }
.ServiceBlock .container .serviceElement .servEleList figure { background-repeat: no-repeat; background-position: center center; background-size: cover; height: 362px; width: calc(100% - 507px); display: inline-block; -webkit-box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.5); position: relative; right: -29px; margin-bottom: 0; }
.ServiceBlock .container .serviceElement .servEleList .serElemtext { width: 507px; background-color: #f7f7f7; -webkit-box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.5); position: relative; padding: 34px 48px 69px; }
.ServiceBlock .container .serviceElement .servEleList .serElemtext h3 { font-size: 24px; color: #505050; text-transform: uppercase; font-family: "SharpSansNoOne-Regular"; margin-bottom: 12px; }
.ServiceBlock .container .serviceElement .servEleList .serElemtext h3:after { content: ''; display: block; max-width: 82px; background-color: #fd6b0d; height: 1px; margin-top: 13px; }
.ServiceBlock .container .serviceElement .servEleList .serElemtext p { letter-spacing: 0.020px; line-height: 25px; font-weight: 300; }
.ServiceBlock .container .serviceElement .servEleList .serElemtext:before { content: ''; position: absolute; left: -119%; top: 0; bottom: 0; z-index: -1; width: 30px; height: 100%; background-color: #fd6b0d; }

/*residental block*/
.residentBlk { background-color: #f8f8f8; }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn { text-align: center; -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); padding: 20px 27px 35px; background-color: #fff; }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn figure { width: 40px; height: 40px; border: 1px solid #f7f7f7; display: inline-block; margin-bottom: 0; text-align: center; position: relative; }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn figure img { display: inline-block; position: absolute; top: 50%; left: 0; right: 0; margin: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn h2 { margin-bottom: 13px; color: #505050; }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn h2:after { content: ''; display: block; height: 1px; width: 150px; background-color: #505050; margin: 11px auto 0; }
.residentBlk .container .residentElemnt .resiEleBx .resiEleBxInn p { line-height: 30px; letter-spacing: 0; }

/*gallery block*/
.galleryBlk .container h2 { color: #fd6b0d; margin-bottom: 52px; }
.galleryBlk .container .gallery_slider .owl-carousel .owl-item { padding: 10px; }
.galleryBlk .container .owl-carousel .owl-item { padding: 0px; }
.galleryBlk .container .owl-carousel .owl-item .item { -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4); box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4); }
.galleryBlk .container .owl-carousel .owl-item .item figure { width: 100%; height: 262px; background-repeat: no-repeat; background-position: center center; background-size: cover; }

.testimonalBlk .owl-nav .owl-next, .testimonalBlk .owl-nav .owl-prev, .galleryBlk .owl-nav .owl-next, .galleryBlk .owl-nav .owl-prev { position: absolute; top: 120px; width: 45px; height: 45px; text-align: center; background-color: #e8e8e8; font-size: 0; -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; z-index: -1; }
.testimonalBlk .owl-nav .owl-next:hover, .testimonalBlk .owl-nav .owl-prev:hover, .galleryBlk .owl-nav .owl-next:hover, .galleryBlk .owl-nav .owl-prev:hover { background-color: #fd6b0d; color: #fff; }
.testimonalBlk .owl-nav .owl-next:hover:after, .testimonalBlk .owl-nav .owl-prev:hover:after, .galleryBlk .owl-nav .owl-next:hover:after, .galleryBlk .owl-nav .owl-prev:hover:after { color: #fff; }
.testimonalBlk .owl-nav .owl-next:after, .testimonalBlk .owl-nav .owl-prev:after, .galleryBlk .owl-nav .owl-next:after, .galleryBlk .owl-nav .owl-prev:after { content: ''; position: absolute; top: 50%; left: 0; right: 0; color: #bfbfbf; -webkit-transform: translateY(-50%); transform: translateY(-50%); font: normal normal normal 14px/1 FontAwesome; font-size: 35px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }
.testimonalBlk .owl-nav .owl-next, .galleryBlk .owl-nav .owl-next { right: -45px; }
.testimonalBlk .owl-nav .owl-next:after, .galleryBlk .owl-nav .owl-next:after { content: "\f105"; }
.testimonalBlk .owl-nav .owl-prev, .galleryBlk .owl-nav .owl-prev { left: -45px; }
.testimonalBlk .owl-nav .owl-prev:after, .galleryBlk .owl-nav .owl-prev:after { content: "\f104"; }

/*about us block css*/
.aboutsBlk { background-repeat: no-repeat; background-position: center center; background-size: cover; }
.aboutsBlk .overlay { padding: 60px 0; background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; }
.aboutsBlk .overlay .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.aboutsBlk .overlay .container .contactBlk { width: 318px; background-color: #fff; padding: 24px 35px 35px; }
.aboutsBlk .overlay .container .contactBlk h3 { font-size: 26px; font-family: "SharpSansNoOne-Regular"; text-transform: uppercase; margin-bottom: 20px; text-align: center; }
.aboutsBlk .overlay .container .contactBlk form .form-group { margin-bottom: 7px; }
.aboutsBlk .overlay .container .contactBlk form .form-group textarea.form-control, .aboutsBlk .overlay .container .contactBlk form .form-group input.form-control { background-color: transparent; border-radius: 0; border: 0; border-bottom: 1px solid #cdbdb5; padding: 0 0 5px; -webkit-box-shadow: none; box-shadow: none; height: 53px; font-size: 16px; }
.aboutsBlk .overlay .container .contactBlk form .form-group textarea.form-control:focus, .aboutsBlk .overlay .container .contactBlk form .form-group input.form-control:focus { border-color: #fd6b0d; }
.aboutsBlk .overlay .container .contactBlk form .form-group textarea.form-control { resize: none; padding-top: 10px; height: 70px; }
.aboutsBlk .overlay .container .contactBlk form .formButton { margin-top: 28px; text-align: center; }
.aboutsBlk .overlay .container .contactBlk form .formButton .sub_btn { line-height: 2.2; border-radius: 5px; background-color: transparent; display: inline-block; text-align: center; text-transform: uppercase; color: #fd6b0d; border: 1px solid #fd6b0d; padding: 0 33px; cursor: pointer; -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }
.aboutsBlk .overlay .container .contactBlk form .formButton .sub_btn:hover, .aboutsBlk .overlay .container .contactBlk form .formButton .sub_btn:focus { background-color: #fd6b0d; color: #fff; }
.aboutsBlk .overlay .container .aboutTextElmnt { width: calc(100% - 318px); display: inline-block; background-color: #fd6b0d; text-align: center; padding: 18px 30px 45px; margin: 0 36px; position: relative; z-index: 99; }
.aboutsBlk .overlay .container .aboutTextElmnt h2 { font-size: 36px; font-weight: normal; font-family: "SharpSansNoOne-Regular"; text-transform: uppercase; color: #fff; }
.aboutsBlk .overlay .container .aboutTextElmnt h2:after { content: ''; display: block; margin: 18px auto; width: 170px; height: 2px; background-color: #fff; }
.aboutsBlk .overlay .container .aboutTextElmnt p { color: #fff; letter-spacing: 0; line-height: 30px; }
.aboutsBlk .overlay .container .aboutTextElmnt .border_bx { position: absolute; width: 100%; height: 100%; top: 34px; left: 34px; border-right: 7px solid #fff; border-bottom: 7px solid #fff; z-index: -1; }
.aboutsBlk .overlay .container .aboutTextElmnt .border_bx:after, .aboutsBlk .overlay .container .aboutTextElmnt .border_bx:before { content: ''; position: absolute; background-color: #fff; }
.aboutsBlk .overlay .container .aboutTextElmnt .border_bx:before { width: 7px; height: 18px; bottom: 0; left: 0; }
.aboutsBlk .overlay .container .aboutTextElmnt .border_bx:after { width: 18px; height: 7px; top: 0; right: 0; }

.testimonalBlk { background-repeat: no-repeat; background-position: center center; background-size: cover; }
.testimonalBlk .overlay { background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; }
.testimonalBlk .overlay h2 { color: #fd6b0d; margin-bottom: 28px; }
.testimonalBlk .overlay .owl-carousel { padding: 0 5%; }
.testimonalBlk .overlay .owl-carousel .item { padding: 50px 0 0; }
.testimonalBlk .overlay .owl-carousel .item .item_bx_inn { padding: 20px 20px 38px; background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; text-align: center; }
.testimonalBlk .overlay .owl-carousel .item .item_bx_inn figure { width: 75px; height: 75px; background-color: #141414; border: 1px solid #959594; border-radius: 100%; position: relative; margin: -60px auto 28px; }
.testimonalBlk .overlay .owl-carousel .item .item_bx_inn figure img { width: auto; position: absolute; top: 50%; left: 0; right: 0; margin: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.testimonalBlk .overlay .owl-carousel .item .item_bx_inn h3 { font-size: 18px; color: #fd6b0d; font-weight: 500; margin-bottom: 13px; }
.testimonalBlk .overlay .owl-carousel .item .item_bx_inn p { color: #acacac; line-height: 30px; letter-spacing: 0; }
.testimonalBlk .owl-nav .owl-next, .testimonalBlk .owl-nav .owl-prev { width: auto; height: auto; top: 57%; }
.testimonalBlk .owl-nav .owl-next:hover:after, .testimonalBlk .owl-nav .owl-next:focus:after, .testimonalBlk .owl-nav .owl-prev:hover:after, .testimonalBlk .owl-nav .owl-prev:focus:after { color: #fd6b0d; }
.testimonalBlk .owl-nav .owl-next { right: 11px; width: auto; height: auto; }
.testimonalBlk .owl-nav .owl-next:after { content: "\f105"; }
.testimonalBlk .owl-nav .owl-prev { left: 0; }
.testimonalBlk .owl-nav .owl-prev:after { content: "\f104"; }

.contact-section { position: relative; height: 600px; }
.contact-section iframe { border: 0; width: 41%; height: 100%; }
.contact-section .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; padding: 48px 0; }
.contact-section .overlay:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; background: #fd6b0d; width: 59%; }
.contact-section .overlay .container .contact-details .contact_logo { margin-bottom: 36px; }
.contact-section .overlay .container .contact-details ul li { display: inline-block; position: relative; padding-left: 85px; min-height: 50px; padding-top: 8px; font-size: 18px; color: #fff; font-weight: 300; margin-bottom: 40px; }
.contact-section .overlay .container .contact-details ul li span { height: 57px; width: 57px; background-color: #fd6b0d; border-radius: 100%; border: solid 2px #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: -8px; left: 0; }
.contact-section .overlay .container .contact-details ul li a { color: #fff; }
.contact-section .overlay .container .contact-details ul li a:hover, .contact-section .overlay .container .contact-details ul li a:focus { color: #fd6b0d; }
.contact-section .overlay .container .contact-details ul li p { color: #fff; line-height: 30px; }
.contact-section .overlay .container .contact-details .social-icons { margin-top: 20px; padding: 30px 0; border-top: solid 1px rgba(255, 255, 255, 0.3); border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
.contact-section .overlay .container .contact-details .social-icons a { color: #fff; font-size: 32px; margin-right: 28px; }
.contact-section .overlay .container .contact-details .social-icons a:hover, .contact-section .overlay .container .contact-details .social-icons a:focus { color: #fd6b0d; }
.contact-section .overlay .container .contact_rt { position: relative; z-index: 99; }
.contact-section .overlay .container .contact_rt .contact-form h2 { font-size: 36px; font-weight: normal; font-family: "SharpSansNoOne-Regular"; text-transform: uppercase; color: #fff; letter-spacing: 0.02em; margin-bottom: 56px; text-align: center; }
.contact-section .overlay .container .contact_rt .contact-form .form-group { margin-bottom: 20px; display: block; }
.contact-section .overlay .container .contact_rt .contact-form .form-group .form-control { width: 100%; display: block; border: solid 1px rgab(255, 255, 255, 0.3); border-radius: 4px; -webkit-box-shadow: none; box-shadow: none; background: transparent; font-size: 16px; color: #fff; padding: 2px 20px; height: 59px; font-size: 16px; font-weight: 300; }
.contact-section .overlay .container .contact_rt .contact-form .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: rgba(255, 255, 255, 0.8); }
.contact-section .overlay .container .contact_rt .contact-form .form-group .form-control::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 0.8); }
.contact-section .overlay .container .contact_rt .contact-form .form-group .form-control:-ms-input-placeholder { /* IE 10+ */ color: rgba(255, 255, 255, 0.8); }
.contact-section .overlay .container .contact_rt .contact-form .form-group .form-control:-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 0.8); }
.contact-section .overlay .container .contact_rt .contact-form .form-group textarea.form-control { height: 130px; resize: none; padding-top: 15px; }
.contact-section .overlay .container .contact_rt .contact-form .orange-btn { width: 225px; display: block; margin: 10px auto 0; background: #fd6b0d; border-radius: 4px; border: 1px solid #fff; color: #fff; text-transform: uppercase; letter-spacing: 0.03em; font-size: 26px; line-height: 2.2; -webkit-box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.3); box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.3); line-height: 2.3; padding: 1px 65px 0; font-family: 'Poppins', sans-serif; font-weight: 300; letter-spacing: 0.03em; cursor: pointer; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.contact-section .overlay .container .contact_rt .contact-form .orange-btn:hover, .contact-section .overlay .container .contact_rt .contact-form .orange-btn:focus { background-color: #fff; color: #fd6b0d; -webkit-box-shadow: 4px 3px 15px 0 rgba(0, 0, 0, 0.3); box-shadow: 4px 3px 15px 0 rgba(0, 0, 0, 0.3); }

footer { background-color: #1e1e1e; text-align: center; padding: 16px 0; }
footer .container p { color: #959594; font-size: 15px; font-weight: 300; }
footer .container p a { color: #959594; }
footer .container p a:hover { color: #fd6b0d; }

/*# sourceMappingURL=style.css.map */