/*header sec css*/

header {
    .headerTop {
        padding: 15px 0;
        background-color: $whiteColor;
        .container {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;

            .headerCenter {
                h3 {
                    color: $orangeColor;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-family: $sharpRegular;
                }
            }
            .headerCont {
                a {
                    color: $blackColor;
                    display: inline-block;
                    font-size: 20px;

                    &:hover,
                    &:focus {
                        color: $orangeColor;
                    }

                    .fa {
                        color: $orangeColor;
                    }
                }
            }

        }
    }

    .navbar {
        background-color: $orangeColor;
        padding: 0;

        .container {
            .navbar-collapse {
                .navbar-nav {
                    width: 100%;
                    align-items: center;
                    align-content: center;
                    justify-content: space-between;
                    
                    li
                    {
                      
                        a
                        {
                            color: $whiteColor;
                              padding: 17px 20px;
                            text-transform: uppercase;
                            
                            
                            &:hover,
                            &:focus
                            {
                                background-color: $navHover;
                            }
                        }
                    }
                }
            }
        }
    }

}
