@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family: 'SharpSansNoOne-Regular';
    src: url('../fonts/SharpSansNoOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SharpSansNoOne-Regular.otf') format('opentype'),
    url('../fonts/SharpSansNoOne-Regular.woff') format('woff'),
    url('../fonts/SharpSansNoOne-Regular.ttf') format('truetype'),
    url('../fonts/SharpSansNoOne-Regular.svg#SharpSansNoOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: $primaryColor;
    background-color: #fff;
    line-height: 1;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: normal;
}

body.modal-open {
    overflow: hidden !important;
}

.modal-open {
    overflow-y: scroll !important;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: $primaryColor;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.020em;
}

a {
    @include transition(all ease-in-out 0.5s);

}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
    outline: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

.modal-backdrop.in {
    opacity: .7;
}


.section {
    padding: 58px 0;

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-family: $sharpRegular;
    }
}



.popup {
    .modal-dialog {
        max-width: 600px;
        width: 90%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        @include pop_transform(translateY(-50%));

        .pop_body {
            background-color: $whiteColor;
            position: relative;
            padding: 10px;
            display: inline-block;
            width: 100%;
            @include border-radius(10px);
            padding: 50px 27px 60px;


            @include media(normal) {
                & {
                    padding: 30px 27px;
                }
            }


            button.close {
                position: absolute;
                top: -10px;
                right: -10px;
                opacity: 1;
                background-color: $red-color;
                color: $whiteColor;
                @include circle(25px);
                @include transform(rotate(0deg));
                @include transition(all ease-in-out 0.5s);
                text-shadow: none;

                .fa {
                    display: block;
                    margin-top: -2px;
                    font-size: 16px;
                }

                &:hover,
                &:focus {
                    outline: 0;
                    @include transform(rotate(90deg));

                }
            }

        }
    }
}


.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    label {
        display: block;
        margin-bottom: 0;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 0;
    padding-top: 50px;
}

.file-upload-input {
    width: 100%;
    color: #b5b5b5;
    font-size: 16px;
    border: none;
    font-family: 'Phenomena-Bold';
    outline: 0;
    text-align: center;
    background-color: transparent;
    white-space: normal;
    word-break: break-all;
    resize: none;

}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 11px 20px;
    /* IE 9 Fix */
    @include transition(all 0.2s ease-in);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: url(../images/upload-icon.png) center top no-repeat;
    border: 0;
    width: 48px;
    height: 48px;
    font-size: 0;

    &:hover {
        opacity: 0.8;
    }
}
