$primaryColor: #505050;

$greyColor:#f7f7f7;

$blackColor:#000;

$whiteColor:#fff;

$facebook-color:#3b5998;

$google-color:#da4835;

$twitter-color:#1da1f2;

$borderGreyColor:#959594;

$red-color:#fc0b04;

$orangeColor:#fd6b0d;

$orangeHoverColor:#ef5e00;

$navHover:#a9a8ab;

$dark_grey:#131313;
$head-color:#505050;

$greyColor2:#e2e2e2;

$greyColor3:#f8f8f8;
$greyColor4:#e8e8e8;
$sliderArrow:#bfbfbf;
$testimonialColor:#acacac;
$brecesBgColor:#141414;
$footerColor:#1e1e1e;
/*font family*/

$sharpRegular:'SharpSansNoOne-Regular';
