@import 'variable';
@import 'mixin';
@import 'reset';
@import 'header';
@import 'footer';

/*banner section css*/

.bannerBlock {
    @include background(center center, cover);
    height: 542px;

    .overlay {
        @include overlay(rgba(0, 0, 0, 0.7));

        .container {
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;

            .bannerText {
                padding: 0 75px;
                flex: 33%;
                max-width: 58%;

                h1 {
                    font-size: 70px;
                    color: $whiteColor;
                    font-family: $sharpRegular;
                    text-transform: uppercase;
                    margin-bottom: 13px;

                    &:after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $borderGreyColor;
                        display: block;
                        width: 98%;
                        left: 4px;
                        position: relative;
                        margin-top: 18px
                    }
                }

                p {
                    color: $orangeColor;
                    font-size: 18px;
                    line-height: 29px;
                }

                .bannerButton {
                    margin-top: 47px;
                    a {
                        min-width: 148px;
                        line-height: 2.5;
                        @include border-radius(5px);
                        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
                        display: inline-block;
                        text-align: center;
                        text-transform: uppercase;
                        color: $whiteColor;
                        border: 1px solid $whiteColor;
                        margin-right: 28px;
                        @include btn_effect;

                        &:hover,
                        &:focus {
                            background-color: $orangeColor;
                            border-color: $orangeColor;

                        }
                        &.contct_btn {
                            margin-right: 0;

                        }
                    }
                }

            }

            .bannerForm {
                padding: 34px;
                background-color: rgba(255, 255, 255, 0.9);
                flex: 33%;
                max-width: 45%;

                h3 {
                    font-size: 26px;
                    font-family: $sharpRegular;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                form {
                    .form-group {
                        margin-bottom: 7px;

                        textarea.form-control,
                        input.form-control {
                            background-color: transparent;
                            border-radius: 0;
                            border: 0;
                            border-bottom: 1px solid #cdbdb5;
                            padding: 0 0 5px;
                            box-shadow: none;
                            height: 53px;
                            font-size: 16px;

                            &:focus {
                                border-color: $orangeColor;
                            }
                        }

                        textarea.form-control {
                            resize: none;
                            padding-top: 10px;
                        }
                    }
                    .formButton {
                        margin-top: 40px;

                        .sub_btn {
                            line-height: 2.2;
                            @include border-radius(5px);
                            background-color: transparent;
                            display: inline-block;
                            text-align: center;
                            text-transform: uppercase;
                            color: $orangeColor;
                            border: 1px solid $orangeColor;
                            margin-right: 28px;
                            padding: 0 33px;
                            cursor: pointer;
                            @include transition(all ease-in-out 0.5s);

                            &:hover,
                            &:focus {
                                background-color: $orangeColor;
                                ;
                                color: $whiteColor;
                            }
                        }
                    }

                }
            }

        }
    }
}


/*blackBlock css*/

.blackBlock {
    background-color: $blackColor;
    padding: 25px 0;
    text-align: center;

    .container {
        p {
            color: $whiteColor;
            font-weight: 300;
            letter-spacing: 0.025em;
            line-height: 22px;
        }
    }
}


/*our service block css*/

.ServiceBlock {
    .container {
        h2 {
            color: $orangeColor;
            margin-bottom: 60px;
        }

        .serviceElement {
            .servEleList {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                figure {
                    @include background(center center, cover);
                    height: 362px;
                    width: calc(100% - 507px);
                    display: inline-block;
                    box-shadow: -5px 0 5px 0 (rgba(0, 0, 0, 0.5));
                    position: relative;
                    right: -29px;
                    margin-bottom: 0;
                }

                .serElemtext {
                    width: 507px;
                    background-color: $greyColor;
                    box-shadow: -5px 0 5px 0 (rgba(0, 0, 0, 0.5));
                    position: relative;
                    padding: 34px 48px 69px;

                    h3 {
                        font-size: 24px;
                        color: $head-color;
                        text-transform: uppercase;
                        font-family: $sharpRegular;
                        margin-bottom: 12px;

                        &:after {
                            content: '';
                            display: block;
                            max-width: 82px;
                            background-color: $orangeColor;
                            height: 1px;
                            margin-top: 13px;
                        }
                    }
                    p {
                        letter-spacing: 0.020px;
                        line-height: 25px;
                        font-weight: 300;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: -119%;
                        top: 0;
                        bottom: 0;
                        z-index: -1;
                        width: 30px;
                        height: 100%;
                        background-color: $orangeColor;
                    }
                }
            }
        }
    }
}


/*residental block*/

.residentBlk {
    background-color: $greyColor3;
    .container {
        .residentElemnt {
            .resiEleBx {
                .resiEleBxInn {
                    text-align: center;
                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
                    padding: 20px 27px 35px;
                    background-color: $whiteColor;

                    figure {
                        width: 40px;
                        height: 40px;
                        border: 1px solid $greyColor;
                        display: inline-block;
                        margin-bottom: 0;
                        text-align: center;
                        position: relative;

                        img {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            @include transform(translateY(-50%));
                        }
                    }
                    h2 {
                        margin-bottom: 13px;
                        color: $primaryColor;

                        &:after {
                            content: '';
                            display: block;
                            height: 1px;
                            width: 150px;
                            background-color: $primaryColor;
                            margin: 11px auto 0;
                        }
                    }

                    p {
                        line-height: 30px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}


/*gallery block*/

.galleryBlk {
    .container {
        h2 {
            color: $orangeColor;
            margin-bottom: 52px;
        }
        .gallery_slider {
            .owl-carousel {
                .owl-item {
                    padding:10px;
                }
            }
        }

        .owl-carousel {
            .owl-item {
                padding: 0px;
                .item {
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);

                    figure {
                        width: 100%;
                        height: 262px;
                        @include background(center center, cover);
                    }
                }
            }

        }
    }
}

.testimonalBlk,
.galleryBlk {
    .owl-nav {
        .owl-next,
        .owl-prev {
            position: absolute;
            top: 120px;
            width: 45px;
            height: 45px;
            text-align: center;
            background-color: $greyColor4;
            font-size: 0;
            @include transition(all ease-in-out 0.5s);
            z-index: -1;

            &:hover {
                background-color: $orangeColor;
                color: $whiteColor;

                &:after {
                    color: $whiteColor;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                color: $sliderArrow;
                @include transform(translateY(-50%));
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 35px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include transition(all ease-in-out 0.5s);
            }

        }
        .owl-next {
            right: -45px;

            &:after {
                content: "\f105";
            }

        }

        .owl-prev {
            left: -45px;
            &:after {
                content: "\f104";
            }

        }
    }
}

/*about us block css*/

.aboutsBlk {
    @include background(center center, cover);
    .overlay {
        padding: 60px 0;
        @include overlay(rgba(0, 0, 0, 0.7));

        .container {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;

            .contactBlk {
                width: 318px;
                background-color: $whiteColor;
                padding: 24px 35px 35px;

                h3 {
                    font-size: 26px;
                    font-family: $sharpRegular;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    text-align: center;
                }

                form {
                    .form-group {
                        margin-bottom: 7px;

                        textarea.form-control,
                        input.form-control {
                            background-color: transparent;
                            border-radius: 0;
                            border: 0;
                            border-bottom: 1px solid #cdbdb5;
                            padding: 0 0 5px;
                            box-shadow: none;
                            height: 53px;
                            font-size: 16px;

                            &:focus {
                                border-color: $orangeColor;
                            }
                        }

                        textarea.form-control {
                            resize: none;
                            padding-top: 10px;
                            height: 70px;
                        }
                    }
                    .formButton {
                        margin-top: 28px;
                        text-align: center;

                        .sub_btn {
                            line-height: 2.2;
                            @include border-radius(5px);
                            background-color: transparent;
                            display: inline-block;
                            text-align: center;
                            text-transform: uppercase;
                            color: $orangeColor;
                            border: 1px solid $orangeColor;
                            padding: 0 33px;
                            cursor: pointer;
                            @include transition(all ease-in-out 0.5s);

                            &:hover,
                            &:focus {
                                background-color: $orangeColor;
                                color: $whiteColor;
                            }
                        }
                    }

                }
            }

            .aboutTextElmnt {
                width: calc(100% - 318px);
                display: inline-block;
                background-color: $orangeColor;
                text-align: center;
                padding: 18px 30px 45px;
                margin:0 36px;
                position: relative;
                z-index: 99;

                h2 {
                    @include h2;
                    color: $whiteColor;

                    &:after {
                        content: '';
                        display: block;
                        margin: 18px auto;
                        width: 170px;
                        height: 2px;
                        background-color: #fff;
                    }
                }

                p {
                    color: $whiteColor;
                    letter-spacing: 0;
                    line-height: 30px;
                }

                .border_bx {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 34px;
                    left: 34px;
                    border-right: 7px solid $whiteColor;
                    border-bottom: 7px solid $whiteColor;
                    z-index: -1;

                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        background-color: $whiteColor;

                    }

                    &:before {
                        width: 7px;
                        height: 18px;
                        bottom: 0;
                        left: 0;
                    }
                    &:after {
                        width: 18px;
                        height: 7px;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}


.testimonalBlk {
    @include background(center center, cover);

    .overlay {
        @include overlay(rgba(0, 0, 0, 0.7));

        h2 {
            color: $orangeColor;
            margin-bottom: 28px;
        }

        .owl-carousel {
            padding: 0 5%;

            .item {
                padding: 50px 0 0;

                .item_bx_inn {
                    padding: 20px 20px 38px;
                    @include overlay(rgba(0, 0, 0, 0.7));
                    text-align: center;

                    figure {
                        width: 75px;
                        height: 75px;
                        background-color: $brecesBgColor;
                        border: 1px solid $borderGreyColor;
                        @include border-radius(100%);
                        position: relative;
                        margin: -60px auto 28px;

                        img {
                            width: auto;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            @include transform(translateY(-50%));
                        }

                    }
                    h3 {
                        font-size: 18px;
                        color: $orangeColor;
                        font-weight: 500;
                        margin-bottom: 13px;
                    }

                    p {
                        color: $testimonialColor;
                        line-height: 30px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }

    .owl-nav {

        .owl-next,
        .owl-prev {
            width: auto;
            height: auto;
            top: 57%;

            &:hover,
            &:focus {

                &:after {
                    color: $orangeColor;
                }

            }
        }

        .owl-next {
            right: 11px;
            width: auto;
            height: auto;

            &:after {
                content: "\f105";
            }
        }

        .owl-prev {
            left: 0;
            &:after {
                content: "\f104";
            }
        }
    }
}

.contact-section {
    position: relative;
    height: 600px;

    iframe {
        border: 0;
        width: 41%;
        height: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include overlay(rgba(0, 0, 0, 0.7));
        padding: 48px 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: $orangeColor;
            width: 59%;
        }

        .container {

            .contact-details {

                .contact_logo {
                    margin-bottom: 36px;
                }

                ul {
                    li {
                        display: inline-block;
                        position: relative;
                        padding-left: 85px;
                        min-height: 50px;
                        padding-top: 8px;
                        font-size: 18px;
                        color: #fff;
                        font-weight: 300;
                        margin-bottom: 40px;

                        span {

                            height: 57px;
                            width: 57px;
                            background-color: $orangeColor;
                            border-radius: 100%;
                            border: solid 2px #fff;
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            position: absolute;
                            top: -8px;
                            left: 0;
                        }
                        a {
                            color: $whiteColor;

                            &:hover,
                            &:focus {
                                color: $orangeColor;
                            }
                        }
                        p {
                            color: $whiteColor;
                            line-height: 30px;

                        }

                    }
                }
                .social-icons {
                    margin-top: 20px;
                    padding: 30px 0;
                    border-top: solid 1px rgba(255, 255, 255, 0.3);
                    border-bottom: solid 1px rgba(255, 255, 255, 0.3);

                    a {
                        color: #fff;
                        font-size: 32px;
                        margin-right: 28px;

                        &:hover,
                        &:focus {
                            color: $orangeColor;
                        }
                    }
                }
            }

            .contact_rt {
                position: relative;
                z-index: 99;
                .contact-form {
                    h2 {
                        @include h2;
                        color: $whiteColor;
                        letter-spacing: 0.02em;
                        margin-bottom: 56px;
                        text-align: center;
                    }

                    .form-group {
                        margin-bottom: 20px;
                        display: block;

                        .form-control {
                            width: 100%;
                            display: block;
                            border: solid 1px rgab(255, 255, 255, 0.3);
                            border-radius: 4px;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            background: transparent;
                            font-size: 16px;
                            color: #fff;
                            padding: 2px 20px;
                            height: 59px;
                            font-size: 16px;
                            font-weight: 300;

                            &::-webkit-input-placeholder {
                                /* Chrome/Opera/Safari */
                                color: rgba(255, 255, 255, 0.8);
                            }
                            &::-moz-placeholder {
                                /* Firefox 19+ */
                                color: rgba(255, 255, 255, 0.8);
                            }
                            &:-ms-input-placeholder {
                                /* IE 10+ */
                                color: rgba(255, 255, 255, 0.8);
                            }
                            &:-moz-placeholder {
                                /* Firefox 18- */
                                color: rgba(255, 255, 255, 0.8);
                            }
                        }
                        textarea {
                            &.form-control {
                                height: 130px;
                                resize: none;
                                padding-top: 15px;
                            }
                        }
                    }
                    .orange-btn {
                        width: 225px;
                        display: block;
                        margin: 10px auto 0;
                        background: $orangeColor;
                        border-radius: 4px;
                        border: 1px solid $whiteColor;
                        color: $whiteColor;
                        text-transform: uppercase;
                        letter-spacing: 0.03em;
                        font-size: 26px;
                        line-height: 2.2;
                        box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.3);
                        line-height: 2.3;
                        padding: 1px 65px 0;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 300;
                        letter-spacing: 0.03em;
                        cursor: pointer;
                        -moz-transition: all 0.4s ease-in-out;
                        -webkit-transition: all 0.4s ease-in-out;
                        -o-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;

                        &:hover,
                        &:focus {
                            background-color: $whiteColor;
                            color: $orangeColor;
                            box-shadow: 4px 3px 15px 0 rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $footerColor;
    text-align: center;
    padding: 16px 0;

    .container {
        p {
            color: $borderGreyColor;
            font-size: 15px;
            font-weight: 300;

            a {
                color: $borderGreyColor;
                &:hover {
                    color: $orangeColor;
                }
            }
        }
    }
}
